#navbar {
    background-color: rgb(255, 255, 255);
}
.navbar-top-part {
    width: 100%;
}
.shopping-cart-img {
    display: inline-block;
    width: 50px;
}
.basket-box {
    position: relative;
}
.grey-theme-color {
    color: rgb(108, 108, 108);
}
#bagQuantity {
    position: absolute;
    transform: translate(-4px, 2px);
    background-color: rgb(20, 255, 196);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    top: 0;
    right: 0;
}

.product-card {
    height: 100vh;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card > img {
    max-height: 300px;
}
.inner-product-box > img {
    max-height: 300px;
    height: 100vh;
    max-width: 300px;
}
.inner-product-box {
    height: 100vh;
    max-height: 580px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(189, 189, 189);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 300ms;
}
.inner-product-box:hover {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    border-bottom: solid rgb(104, 216, 214);
}

.cart-button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.dash {
    margin-bottom: 0px;
    line-height: 40px;
}
.price {
    margin: auto 0px 0px 0px;
    line-height: 34px;
}
.lower-left > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.lower-left > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}
.productAndPrice-div {
    padding: 0px 20px;
    width: 100%;
}
.bottom-part {
    width: 100%;
}

.all-headphones-banner {
    background: rgb(156, 234, 239);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../images/All-Headphones-banner.jpg);
    background-size: cover;
    background-position: 0 0;
    width: 100%;
}

.banner-div-wrapper {
    padding: 80px 0px;
}

h1 {
    font-size: 3rem;
}

.space-top-basket {
    height: 100px;
}

.top-elements-cart {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.table-header-wrapper {
    border-bottom: solid 1px rgb(221, 221, 221);
}

.thumbnail {
    height: auto;
    max-width: 100px;
}

.basket-product-name {
    font-size: 1rem;
}

.basket-product-type {
    font-size: 0.75rem;
}

.fs-7 {
    font-size: 0.75rem;
}

.trash-can {
    background-image: url(../images/trash.svg);
    width: 17px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
}
.remove-span {
    display: inline-block;
    vertical-align: middle;
}

.quantity-form-box {
    width: 45px;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

.cart-product-row {
    border-bottom: solid 1px rgb(221, 221, 221);
    margin: 0px 2px 0px 2px;
}

.remove-from-cart {
    background-color: rgb(245, 245, 245);
    padding: 5px 10px;
    border-radius: 5px;
}
.remove-from-cart:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.quantity-controls >button {
    margin-top: 2px;
    border-radius: 4px;
    padding: 0px 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.quantity-controls >button:focus {
    box-shadow: none;
}
a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .price-per-product {
        font-size: 1rem;
    }
    .total-price-product {
        font-size: 1rem;
    }
}